{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
<div class="trim-band" role="presentation"></div>
<footer class="site-footer">
  <div class="container cols">
    <div>
      <h4 class="footer-brand">
        <img src="{=site.image('logo-light.svg')}" alt="Mt Eliza Netball Club"
             width="150" height="170">
      </h4>
      <p>A safe, fun, family-friendly netball community on the Mornington Peninsula, inclusive of all ages and abilities. Playing in the Frankston &amp; District Netball Association at Jubilee Park since 1985.</p>
      <p><a href="https://www.facebook.com/mtelizanetballclub">Follow us on Facebook</a></p>
    </div>
    <div>
      <h4>Play</h4>
      <ul>
        <li><a href="https://registration.netballconnect.com/userRegistration?organisationId=799dc8d1-75f6-465b-98e5-0dffe8ced073&amp;competitionId=afa1cda0-bfde-40cf-9f12-b7c144693684">Register for Spring 2026</a></li>
        <li><a href="{=site.url('training')}">Training</a></li>
        <li><a href="{=site.url('key-dates')}">Key dates</a></li>
        <li><a href="{=site.url('uniforms')}">Uniforms</a></li>
      </ul>
    </div>
    <div>
      <h4>Club</h4>
      <ul>
        <li><a href="{=site.url('about')}">About us</a></li>
        <li><a href="{=site.url('coaching')}">Coaching</a></li>
        <li><a href="{=site.url('umpiring')}">Umpiring</a></li>
        <li><a href="{=site.url('policies')}">Policies</a></li>
        <li><a href="{=site.url('contact')}">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="container fine">
    <span>&copy; Mt Eliza Netball Club. All rights reserved.</span>
    <span>Howard Parker Reserve, Mount Eliza &middot; Games at Jubilee Park, Frankston</span>
  </div>
</footer>
